<table class="ui center aligned fixed celled unstackable table" *ngIf="scopedDaySchedules">
  <thead>
  <tr>
    <th rowspan="2"></th>
    <th colspan="2">上午</th>
    <th colspan="3">下午</th>
  </tr>
  <tr>
    <th class="rowspanned"></th>
    <th>1-2</th>
    <th>3-4</th>
    <th>5-6</th>
    <th>7-8</th>
    <th>9-10</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let sds of scopedDaySchedules">
    <td class="th">{{sds.scopeLabel}}</td>
    <td *ngFor="let lesson of sds.daySchedule.lessons" [attr.colspan]="lesson?.span">
      <app-lesson-schedule [schedule]="lesson.schedule" [context]="context"
                           *ngIf="lesson?.schedule"></app-lesson-schedule>
    </td>
  </tr>
  </tbody>
</table>
