<mat-toolbar color="secondary" class="not-print">
  <mat-toolbar-row>
    <span>课表统计</span>

    <span class="spacer"></span>

    <app-main-menu></app-main-menu>

    <!--<button type="button" mat-icon-button>
      <mat-icon aria-label="Menu">menu</mat-icon>
    </button>-->
  </mat-toolbar-row>
</mat-toolbar>


<div class="main-content">

  <div class="not-print">

    <div class="dimensions-select" fxLayout="row wrap" fxLayoutAlign="start center">
      <span class="primary-color title">筛选维度</span>
      <mat-checkbox [(ngModel)]="majorDimEnabled">系部</mat-checkbox>
      <mat-checkbox [(ngModel)]="classDimEnabled">班级</mat-checkbox>
      <mat-checkbox [(ngModel)]="classroomDimEnabled">教室</mat-checkbox>
      <mat-checkbox [(ngModel)]="courseDimEnabled">课程</mat-checkbox>
      <mat-checkbox [(ngModel)]="courseTypeDimEnabled">实训</mat-checkbox>
      <mat-checkbox [(ngModel)]="teacherDimEnabled">教师</mat-checkbox>
      <mat-checkbox [(ngModel)]="lessonDimEnabled">节次</mat-checkbox>
      <mat-checkbox [(ngModel)]="timeDimEnabled" disabled>时间</mat-checkbox>
    </div>

    <mat-divider class="dimensions-divider"></mat-divider>

    <div fxLayout="column" class="dimension-conditions">

      <div fxLayout fxLayoutAlign="start center" *ngIf="majorDimEnabled" class="dimension-condition">
        <span class="primary-color dimension-label">系部</span>
        <mat-checkbox [checked]="majorDim==='major'" (change)="majorDim=$event.checked? 'major':'dept'">专业
        </mat-checkbox>
        <app-dept-select (selected)="deptSelected($event)" *ngIf="majorDim==='dept'"></app-dept-select>
        <app-dept-major-select (selected)="majorSelected($event)" *ngIf="majorDim==='major'"></app-dept-major-select>
      </div>

      <div fxLayout fxLayoutAlign="start center" *ngIf="classDimEnabled" class="dimension-condition">
        <span class="primary-color dimension-label">班级</span>
        <mat-checkbox [checked]="classDim==='year'" (change)="classDim=$event.checked? 'year':'class'">仅入学年
        </mat-checkbox>
        <app-class-year-select (selected)="classYearSelected($event)" *ngIf="classDim==='year'"></app-class-year-select>
        <app-class-select (selected)="classSelected($event)" *ngIf="classDim==='class'"></app-class-select>
      </div>

      <div fxLayout fxLayoutAlign="start center" *ngIf="classroomDimEnabled" class="dimension-condition">
        <span class="primary-color dimension-label">教室</span>
        <app-classroom-select (selected)="classroomSelected($event)"></app-classroom-select>
      </div>

      <div fxLayout fxLayoutAlign="start center" *ngIf="courseDimEnabled" class="dimension-condition">
        <span class="primary-color dimension-label">课程</span>
        <mat-checkbox [checked]="courseDim==='cate'" (change)="courseDim=$event.checked? 'cate':'course'">仅类别
        </mat-checkbox>
        <app-course-cate-select (selected)="courseCateSelected($event)"
                                *ngIf="courseDim==='cate'"></app-course-cate-select>
        <app-course-select (selected)="courseSelected($event)" *ngIf="courseDim==='course'"></app-course-select>
      </div>

      <div fxLayout fxLayoutAlign="start center" *ngIf="courseTypeDimEnabled"
           class="dimension-condition training-type">
        <span class="primary-color dimension-label">实训</span>
        <mat-radio-group [(ngModel)]="selectedCourseType">
          <mat-radio-button value="">不限</mat-radio-button>
          <mat-radio-button value="N">理论课</mat-radio-button>
          <mat-radio-button value="T">实训课</mat-radio-button>
        </mat-radio-group>
      </div>

      <div fxLayout fxLayoutAlign="start center" *ngIf="teacherDimEnabled" class="dimension-condition">
        <span class="primary-color dimension-label">教师</span>
        <app-teacher-select (selected)="teacherSelected($event)"></app-teacher-select>
      </div>

      <div fxLayout fxLayoutAlign="start center" *ngIf="lessonDimEnabled" class="dimension-condition">
        <span class="primary-color dimension-label">节次</span>
        <app-lesson-select (selected)="lessonSelected($event)"></app-lesson-select>
      </div>

      <div fxLayout fxLayoutAlign="start center" *ngIf="timeDimEnabled" class="dimension-condition">
        <app-time-scope-menu [timeScope]="timeScope" (selected)="timeScopeSelected($event)"
                             class="time-scope-menu"></app-time-scope-menu>

        <app-date-picker [selectedDate]="selectedDate" (selected)="dateSelected($event)"
                         *ngIf="timeScope==='day'"></app-date-picker>

        <app-term-week-select (selected)="weekSelected($event)" *ngIf="timeScope==='week'"></app-term-week-select>

        <app-month-picker [yearMonth]="selectedMonth" (selected)="monthSelected($event)"
                          *ngIf="timeScope==='month'"></app-month-picker>

        <app-term-select (selected)="termSelected($event)" *ngIf="timeScope==='term'"></app-term-select>
      </div>

    </div>


    <div class="dimensions-select statis-bar" fxLayout="row wrap" fxLayoutAlign="start">
      <span class="primary-color title">统计维度</span>

      <div fxLayout="column" fxLayoutAlign="start" class="group-by-dimensions">

        <div class="group-by-dimensions-row">

          <mat-checkbox [(ngModel)]="grouping.groupByDept">系部</mat-checkbox>
          <mat-checkbox [(ngModel)]="grouping.groupByMajor">专业</mat-checkbox>

          <span class="group-by-dimension-divider">&nbsp;</span>

          <mat-checkbox [(ngModel)]="grouping.groupByClassYear">入学年</mat-checkbox>
          <mat-checkbox [(ngModel)]="grouping.groupByClass">班级</mat-checkbox>

        </div>

        <div class="group-by-dimensions-row">

          <mat-checkbox [(ngModel)]="grouping.groupByClassroom">教室</mat-checkbox>
          <mat-checkbox [(ngModel)]="grouping.groupByTeacher">教师</mat-checkbox>

          <span class="group-by-dimension-divider">&nbsp;</span>

          <mat-checkbox [(ngModel)]="grouping.groupByCourseCate">课程类别</mat-checkbox>
          <mat-checkbox [(ngModel)]="grouping.groupByCourse">课程</mat-checkbox>

          <span class="group-by-dimension-divider">&nbsp;</span>

          <mat-checkbox [(ngModel)]="grouping.groupByCourseType">理论/实训</mat-checkbox>
        </div>

        <div class="group-by-dimensions-row">

          <mat-checkbox [(ngModel)]="grouping.groupByTime">时间</mat-checkbox>
          <mat-radio-group [(ngModel)]="grouping.timeGroupBy" [disabled]="!grouping.groupByTime">
            <mat-radio-button value="day">按日</mat-radio-button>
            <mat-radio-button value="week">按周</mat-radio-button>
            <mat-radio-button value="month">按月</mat-radio-button>
            <mat-radio-button value="term">按学期</mat-radio-button>
          </mat-radio-group>
        </div>

        <div class="group-by-dimensions-row">
          <button mat-button (click)="grouping.clearGroupBys()">重置</button>
          <button mat-button (click)="grouping.groupByTeacherOnly()">仅按教师</button>
          <button mat-button (click)="grouping.groupByClassroomOnly()">仅按教室</button>
          <button mat-button (click)="grouping.groupByDateOnly()">仅按日期</button>
        </div>

      </div>
    </div>

    <div fxLayout fxLayoutAlign="start center">
      <span class="spacer"></span>

      <div>
        <mat-radio-group [(ngModel)]="outputStyle" (change)="outputStyleChanged()" class="output-style-radio-group">
          <mat-radio-button value="table">表格</mat-radio-button>
          <mat-radio-button value="calendar-chart"
                            [disabled]="(timeScope!=='month'&&timeScope!=='term')||!grouping.isGroupByDateOnly()"
                            matTooltip="当仅按日期统计，且时间筛选为月/学期时，可以显示日历图表"
                            matTooltipShowDelay="200"
                            matTooltipHideDelay="200"
                            matTooltipClass="multi-lines-tooltip">日历
          </mat-radio-button>
          <mat-radio-button value="chart"
                            matTooltip="当不超过两个统计维度时，可以显示折线图、柱状图等"
                            matTooltipShowDelay="200"
                            matTooltipHideDelay="200"
                            matTooltipClass="multi-lines-tooltip">图表
          </mat-radio-button>
        </mat-radio-group>

        <mat-checkbox class="pad-right" [(ngModel)]="showTitle">标题</mat-checkbox>

        <button mat-button color="primary" (click)="execute()">
          <mat-icon>bar_chart</mat-icon>
          统计
        </button>
      </div>
    </div>

    <mat-divider></mat-divider>
  </div>

  <div class="schedule-tables">

    <ng-template [ngIf]="outputStyle==='table'">
      <app-statistic-table [schedulesStatis]="schedulesStatis" [showTitle]="showTitle"
                           *ngIf="schedulesStatis"></app-statistic-table>
    </ng-template>

    <ng-template [ngIf]="outputStyle==='calendar-chart'">

      <ng-template [ngIf]="timeScope==='month'">
        <app-month-statis-chart [monthStatis]="monthStatis" [showTitle]="showTitle"
                                *ngIf="monthStatis"></app-month-statis-chart>
      </ng-template>

      <ng-template [ngIf]="timeScope==='term'">
        <app-term-statis-chart [termStatis]="termStatis" [showTitle]="showTitle"
                               *ngIf="termStatis"></app-term-statis-chart>
      </ng-template>

    </ng-template>

    <ng-template [ngIf]="outputStyle==='chart'">
      <app-statistic-chart [schedulesStatis]="schedulesStatis" [showTitle]="showTitle"
                           *ngIf="schedulesStatis"></app-statistic-chart>
    </ng-template>

  </div>

  <div class="tables-bottom not-print">&nbsp;</div>
</div>
