/*.mat-table {
  border-collapse: collapse;
}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  padding: 0;
  border-width: 1px;
  border-style: solid;
  text-align: center;
}

th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
  padding-left: 0;
}

tr.mat-header-row {
  height: 48px;
}*/

/* --- */

/*.mat-header-cell {
  color: rgba(0,0,0,.87);
  font-size: 14px;
  background: whitesmoke;
}

mat-row, mat-header-row, mat-footer-row, th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  !*border-color: rgba(0,0,0,.12);*!
  border-color: #e0e0e0;
}*/

/*.dark-theme mat-row, .dark-theme mat-header-row,.dark-theme mat-footer-row, .dark-theme th.mat-header-cell,*/
/*.dark-theme td.mat-cell, .dark-theme td.mat-footer-cell {*/
/*  !*border-bottom-color: rgba(255,255,255,.12); *!*/
/*  border-bottom-color: #c7c7c7;*/
/*}*/
