<div *ngIf="schedule" class="lesson-info" fxLayoutAlign="center center">
  <div class="ui list" [class.training-class]="schedule.courseType==='T'">
    <div class="item course-name"
         [matTooltip]="courseTooltip()"
         matTooltipShowDelay="200"
         matTooltipHideDelay="200"
         matTooltipClass="multi-lines-tooltip"
         *ngIf="!context?.course">
      {{schedule.course?.name}}
    </div>
    <div class="item class-name"
         [matTooltip]="classTooltip()"
         matTooltipShowDelay="200"
         matTooltipHideDelay="200"
         matTooltipClass="multi-lines-tooltip"
         *ngIf="!context?.theClass">{{schedule.theClass?.name}}</div>
    <div class="item classroom-name"
         [matTooltip]="classroomTooltip()"
         matTooltipShowDelay="200"
         matTooltipHideDelay="200"
         matTooltipClass="multi-lines-tooltip"
         *ngIf="!context?.site">
      {{schedule.site?.name}}
    </div>
    <div class="item teacher-name" *ngIf="!context?.teacher">{{schedule.teacher?.name}}</div>
  </div>
</div>
