.perspective-info {
  margin-left: 1em;
  font-size: 0.9em;
}

.mat-checkbox, .output-style-radio-group .mat-radio-button {
  margin-right: 1em;
}

.tables-bottom {
  height: 2em;
}

.dimensions-select, .dimensions-divider {
  margin-bottom: .5em;
}

.dimensions-select > * {
  margin-right: 1em;
}

.dimensions-select .title {
  font-weight: bold;
}

.dimension-label {
  margin-right: 1em;
}

.dimension-condition {
  margin-right: 1em;
}
