<table class="ui center aligned fixed celled unstackable table">
  <thead>
  <tr>
    <th colspan="2"></th>
    <th>
      <div class="week-day">一</div>
      <div class="week-date">（2020-11-30）</div>
    </th>
    <th><div class="week-day">二</div><div class="week-date">（2020-12-1）</div></th>
    <th><div class="week-day">三</div><div class="week-date">（2020-12-2）</div></th>
    <th><div class="week-day">四</div><div class="week-date">（2020-12-3）</div></th>
    <th><div class="week-day">五</div><div class="week-date">（2020-12-4）</div></th>
    <th><div class="week-day">六</div><div class="week-date">（2020-12-5）</div></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td rowspan="2" class="th">上午</td>
    <td class="th">1-2</td>
    <td>1</td>
    <td>1</td>
    <td>1</td>
    <td>1</td>
    <td>1</td>
    <td>1</td>
  </tr>
  <tr>
    <td class="rowspanned th"></td>
    <td class="th">3-4</td>
    <td>1</td>
    <td>1</td>
    <td>1</td>
    <td>1</td>
    <td>1</td>
    <td>1</td>
  </tr>
  <tr>
    <td rowspan="3" class="th">下午</td>
    <td class="th">5-6</td>
    <td>1</td>
    <td>1</td>
    <td>1</td>
    <td>1</td>
    <td>1</td>
    <td>1</td>
  </tr>
  <tr>
    <td class="rowspanned th"></td>
    <td class="th">7-8</td>
    <td>1</td>
    <td>1</td>
    <td>1</td>
    <td>1</td>
    <td>1</td>
    <td>1</td>
  </tr>
  <tr>
    <td class="rowspanned th"></td>
    <td class="th">9-10</td>
    <td>1</td>
    <td>1</td>
    <td>1</td>
    <td>1</td>
    <td>1</td>
    <td>1</td>
  </tr>
  </tbody>
</table>
