<div *ngIf="schedule" class="lesson-info" fxLayoutAlign="center center">
  <!--<ul>
    <li>
      班级：{{schedule.theClass?.name}}
    </li>
    <li>
      课程：{{schedule.course?.name}}
    </li>
    <li>
      教室：{{schedule.site?.name}}
    </li>
    <li>
      教师：{{schedule.teacher?.name}}
    </li>
  </ul>-->
  <div class="ui list">
    <div class="item">班级：{{schedule.theClass?.name}}</div>
    <div class="item">课程：{{schedule.course?.name}}</div>
    <div class="item">教室：{{schedule.site?.name}}</div>
    <div class="item">教师：{{schedule.teacher?.name}}</div>
  </div>
</div>
