<mat-card>
  <mat-card-content>
    <div fxLayout="row wrap" fxLayoutAlign="start center" class="config-row">
      <div class="title">
        图表设置
      </div>
      <div>
        <mat-form-field class="chart-type-field">
          <mat-label>类型</mat-label>
          <mat-select [(ngModel)]="chartType" (selectionChange)="redrawChart()">
            <mat-option value="bar">柱状图</mat-option>
            <mat-option value="line">折线图</mat-option>
            <mat-option value="pie">饼状图</mat-option>
            <mat-option value="scatter">散点图</mat-option>
            <!--<mat-option value="effectScatter">散点图（涟漪）</mat-option>-->
          </mat-select>
        </mat-form-field>
      </div>
      <div class="slide-toggle">
        <mat-slide-toggle [(ngModel)]="chartTranspose" [disabled]="chartType==='pie'" color="primary"
                          labelPosition="before"
                          (change)="redrawChart()">
          旋转
        </mat-slide-toggle>
        &nbsp;&nbsp;
        <mat-slide-toggle [(ngModel)]="chartStack"
                          [disabled]="(chartType!=='bar'&&chartType!=='line')||dimensions?.length!==2"
                          color="primary" labelPosition="before" (change)="redrawChart()">
          堆叠
        </mat-slide-toggle>
      </div>
      <div>
        <mat-form-field class="color-select-field">
          <mat-label>开始颜色</mat-label>
          <mat-select [(ngModel)]="startColorIndex" (selectionChange)="startColorChanged()">
            <mat-option *ngFor="let color of chartColorsOri; let index=index" [value]="index"
                        [style.background]="color">
              #{{index + 1}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-button mat-icon-button class="time-scroll" (click)="colorRollBackward()">
          <mat-icon>west</mat-icon><!--arrow_back-->
        </button>
        <button mat-button mat-icon-button class="time-scroll" (click)="colorRollForward()">
          <mat-icon>east</mat-icon><!--arrow_forward-->
        </button>
      </div>
      <div>
        <mat-form-field class="inline-number-input">
          <input matInput placeholder="宽" [(ngModel)]="chartWidth" type="number" step="100" (change)="redrawChart()">
        </mat-form-field>
        &nbsp;
        <mat-form-field class="inline-number-input">
          <input matInput placeholder="高" [(ngModel)]="chartHeight" type="number" step="100" (change)="redrawChart()">
        </mat-form-field>
      </div>
      <div class="slide-toggle">
        <mat-slide-toggle [(ngModel)]="chartDarkTheme" color="primary" labelPosition="before"
                          (change)="redrawChart()">
          深色主题
        </mat-slide-toggle>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<div class="main-content">
  <div [style.width.px]="chartWidth" [style.height.px]="chartHeight"
       [style.background]="chartDarkTheme? darkBackgroundColor:lightBackgroundColor" #chart></div>
</div>
