<mat-toolbar color="secondary">
  <mat-toolbar-row>
    <span>课表</span>
    <!--<div class="ui text menu">
      <div class="header item">课表</div>
      <a routerLink="/day" class="item" routerLinkActive="active-link">单日课表</a>
      <a routerLink="/week" class="item" routerLinkActive="active-link">单周课表</a>
      <a routerLink="/month" class="item" routerLinkActive="active-link">单月课表</a>
      <a routerLink="/term" class="item" routerLinkActive="active-link">学期课表</a>
    </div>-->
    <span class="spacer"></span>
    <!--<button type="button" mat-icon-button>
      <mat-icon aria-label="Menu">menu</mat-icon>
    </button>-->
  </mat-toolbar-row>
</mat-toolbar>


<div class="main-content">

  <div fxLayout="column">
    <div fxLayout fxLayoutAlign="start center">

      <app-perspective-menu [perspective]="perspective" (selected)="perspectiveSelected($event)"
                            class="perspective-menu"></app-perspective-menu>

      <app-class-select (selected)="classSelected($event)" *ngIf="perspective==='class'"></app-class-select>
      <app-teacher-select (selected)="teacherSelected($event)" *ngIf="perspective==='teacher'"></app-teacher-select>
      <app-classroom-select (selected)="classroomSelected($event)"
                            *ngIf="perspective==='classroom'"></app-classroom-select>

    </div>

    <div fxLayout fxLayoutAlign="start center">

      <div>
        <app-time-scope-menu [timeScope]="timeScope" (selected)="timeScopeSelected($event)"
                             class="time-scope-menu"></app-time-scope-menu>

        <app-date-picker [selectedDate]="selectedDate" (selected)="dateSelected($event)"
                         *ngIf="timeScope==='day'"></app-date-picker>

        <app-term-week-select (selected)="weekSelected($event)" *ngIf="timeScope==='week'"></app-term-week-select>

        <app-month-picker [yearMonth]="selectedMonth" (selected)="monthSelected($event)"
                          *ngIf="timeScope==='month'"></app-month-picker>

        <app-term-select (selected)="termSelected($event)" *ngIf="timeScope==='term'"></app-term-select>
      </div>

      <span class="spacer"></span>

      <div>
        <mat-radio-group [(ngModel)]="outputStyle" (change)="outputStyleChanged()" class="output-style-radio-group">
          <mat-radio-button value="table">默认表格</mat-radio-button>
          <mat-radio-button value="detail-table" [disabled]="timeScope==='day'">按日期</mat-radio-button>
          <mat-radio-button value="calendar-chart" [disabled]="timeScope==='day'||timeScope==='week'">图表
          </mat-radio-button>
        </mat-radio-group>

        <mat-checkbox class="pad-right" [(ngModel)]="showTitle">标题</mat-checkbox>

        <button mat-button color="primary" (click)="execute()">
          <mat-icon>search</mat-icon>
          查询
        </button>
      </div>
    </div>

  </div>

  <mat-divider></mat-divider>

  <div class="schedule-tables">

    <ng-template [ngIf]="timeScope==='day'">
      <ng-template [ngIf]="outputStyle==='table'">
        <app-day-schedule [daySchedule]="daySchedule" [showTitle]="showTitle"
                          *ngIf="daySchedule"></app-day-schedule>
      </ng-template>

      <!--<ng-template [ngIf]="outputStyle==='detail-table'">
      </ng-template>

      <ng-template [ngIf]="outputStyle==='calendar-chart'">
      </ng-template>-->
    </ng-template>

    <ng-template [ngIf]="timeScope==='week'">
      <ng-template [ngIf]="outputStyle==='table'">
        <app-week-schedule [weekSchedule]="weekSchedule" [showTitle]="showTitle"
                           *ngIf="weekSchedule"></app-week-schedule>
      </ng-template>

      <ng-template [ngIf]="outputStyle==='detail-table'">
        <app-day-schedule-serial [dayScheduleSerial]="dayScheduleSerial"
                                 [showTitle]="showTitle" *ngIf="dayScheduleSerial"></app-day-schedule-serial>
      </ng-template>

      <!--<ng-template [ngIf]="outputStyle==='calendar-chart'">
      </ng-template>-->
    </ng-template>

    <ng-template [ngIf]="timeScope==='month'">
      <ng-template [ngIf]="outputStyle==='table'">
        <app-month-schedule [monthSchedule]="monthSchedule" [showTitle]="showTitle"
                            *ngIf="monthSchedule"></app-month-schedule>
      </ng-template>

      <ng-template [ngIf]="outputStyle==='detail-table'">
        <app-day-schedule-serial [dayScheduleSerial]="dayScheduleSerial" [showTitle]="showTitle"
                                 *ngIf="dayScheduleSerial"></app-day-schedule-serial>
      </ng-template>

      <ng-template [ngIf]="outputStyle==='calendar-chart'">
        <app-month-schedule-chart [monthSchedule]="monthSchedule" [showTitle]="showTitle"
                                  *ngIf="monthSchedule"></app-month-schedule-chart>
      </ng-template>
    </ng-template>

    <ng-template [ngIf]="timeScope==='term'">
      <ng-template [ngIf]="outputStyle==='table'">
        <app-term-schedule [termSchedule]="termSchedule" [showTitle]="showTitle"
                           *ngIf="termSchedule"></app-term-schedule>
      </ng-template>

      <ng-template [ngIf]="outputStyle==='detail-table'">
        <app-day-schedule-serial [dayScheduleSerial]="dayScheduleSerial"
                                 [showTitle]="showTitle" *ngIf="dayScheduleSerial"></app-day-schedule-serial>
      </ng-template>

      <ng-template [ngIf]="outputStyle==='calendar-chart'">
        <app-term-schedule-chart [termSchedule]="termSchedule" [showTitle]="showTitle"
                                 *ngIf="termSchedule"></app-term-schedule-chart>
      </ng-template>
    </ng-template>

  </div>

</div>
