<mat-toolbar color="secondary">
  <mat-toolbar-row>
    <span>课表</span>
    <!--<div class="ui text menu">
      <div class="header item">课表</div>
      <a routerLink="/day" class="item" routerLinkActive="active-link">单日课表</a>
      <a routerLink="/week" class="item" routerLinkActive="active-link">单周课表</a>
      <a routerLink="/month" class="item" routerLinkActive="active-link">单月课表</a>
      <a routerLink="/term" class="item" routerLinkActive="active-link">学期课表</a>
    </div>-->
    <span class="spacer"></span>
    <!--<button type="button" mat-icon-button>
      <mat-icon aria-label="Menu">menu</mat-icon>
    </button>-->
  </mat-toolbar-row>
</mat-toolbar>


<div class="main-content">

  <div fxLayout="column">
    <div fxLayout fxLayoutAlign="start center">

      <app-perspective-menu [perspective]="perspective" (selected)="perspectiveSelected($event)"
                            class="perspective-menu"></app-perspective-menu>

      <app-class-select (selected)="classSelected($event)" [hidden]="perspective!=='class'"></app-class-select>
      <app-teacher-select (selected)="teacherSelected($event)" [hidden]="perspective!=='teacher'"></app-teacher-select>
      <app-classroom-select (selected)="classroomSelected($event)"
                            [hidden]="perspective!=='classroom'"></app-classroom-select>

    </div>

    <div fxLayout fxLayoutAlign="start center">

      <app-time-scope-menu [timeScope]="timeScope" (selected)="timeScopeSelected($event)"
                           class="time-scope-menu"></app-time-scope-menu>

      <app-date-picker [selectedDate]="selectedDate" (selected)="dateSelected($event)"
                       [hidden]="timeScope!=='day'"></app-date-picker>

      <app-term-week-select (selected)="weekSelected($event)" [hidden]="timeScope!=='week'"></app-term-week-select>

      <app-month-picker [yearMonth]="selectedMonth" (selected)="monthSelected($event)"
                        [hidden]="timeScope!=='month'"></app-month-picker>

      <app-term-select (selected)="termSelected($event)" [hidden]="timeScope!=='term'"></app-term-select>


      <span class="spacer"></span>

      <button mat-button color="primary" (click)="execute()">
        <mat-icon>search</mat-icon>
        查询
      </button>
    </div>

  </div>

  <mat-divider></mat-divider>

  <div class="schedule-tables">
    <app-day-schedule [daySchedule]="daySchedule" [context]="context"
                      *ngIf="timeScope==='day'&&daySchedule"></app-day-schedule>

    <app-week-schedule [weekSchedule]="weekSchedule" [context]="context"
                       *ngIf="timeScope==='week'&&weekSchedule"></app-week-schedule>

    <app-month-schedule [monthSchedule]="monthSchedule" [context]="context"
                        *ngIf="timeScope==='month'&&monthSchedule"></app-month-schedule>

    <app-term-schedule [termSchedule]="termSchedule" [context]="context"
                       *ngIf="timeScope==='term'&&termSchedule"></app-term-schedule>
  </div>

</div>
