<div [hidden]="!flatSchedules">

  <div *ngIf="showTitle&&flatSchedules?.title" class="schedule-table-title">
    <h2 class="ui center aligned header">{{flatSchedules?.title}}</h2>
  </div>

  <table mat-table class="full-width-table ui unstackable table" matSort>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>日期</th>
      <td mat-cell *matCellDef="let row">{{row | scheduleDate}}</td>
    </ng-container>

    <ng-container matColumnDef="class">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>班级</th>
      <td mat-cell *matCellDef="let row"
          [matTooltip]="classTooltip(row.theClass)"
          matTooltipShowDelay="200"
          matTooltipHideDelay="200"
          matTooltipClass="multi-lines-tooltip">{{row.theClass?.name}}</td>
    </ng-container>

    <ng-container matColumnDef="classSize">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>班级人数</th>
      <td mat-cell *matCellDef="let row">{{row.theClass?.size}}人</td>
    </ng-container>

    <ng-container matColumnDef="classroom">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>教室</th>
      <td mat-cell *matCellDef="let row"
          [matTooltip]="classroomTooltip(row.site)"
          matTooltipShowDelay="200"
          matTooltipHideDelay="200"
          matTooltipClass="multi-lines-tooltip">{{row.site?.name}}</td>
    </ng-container>

    <ng-container matColumnDef="classroomCapacity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>教室座位数</th>
      <td mat-cell *matCellDef="let row">
        <ng-template [ngIf]="row.site?.capacity">{{row.site.capacity}}个</ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="teacher">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>教师</th>
      <td mat-cell *matCellDef="let row">{{row.teacher?.name}}</td>
    </ng-container>

    <ng-container matColumnDef="lessonIndex">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>节次</th>
      <td mat-cell *matCellDef="let row">{{row.timeStart}}-{{row.timeEnd}}</td>
    </ng-container>

    <ng-container matColumnDef="course">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>课程</th>
      <td mat-cell *matCellDef="let row"
          [matTooltip]="courseTooltip(row.course)"
          matTooltipShowDelay="200"
          matTooltipHideDelay="200"
          matTooltipClass="multi-lines-tooltip">{{row.course?.name}}</td>
    </ng-container>

    <ng-container matColumnDef="courseType">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>理论/实训</th>
      <td mat-cell *matCellDef="let row" [class.training-class]="row.courseType==='T'">
        {{row.courseType === 'N' ? '理论课' :
        (row.trainingType === 'S' ? '实训课' :
            (row.trainingType === 'E' ? '企业实训' : '')
        )}}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
                 [length]="dataSource?.data.length"
                 [pageIndex]="0"
                 [pageSize]="20"
                 [pageSizeOptions]="[10, 20, 50, 100]"
                 class="mat-elevation-z1" [hidden]="!flatSchedules">
  </mat-paginator>

</div>
