/* You can add global styles to this file, and also import other style files */

@import "./styles/material-icons/material-icons.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/*@import "~fomantic-ui-css/semantic.min.css";*/
@import "~fomantic-ui-css/components/reset.min.css";
@import "~fomantic-ui-css/components/site.min.css";
@import "~fomantic-ui-css/components/container.min.css";
@import "~fomantic-ui-css/components/table.min.css";
@import "~fomantic-ui-css/components/list.min.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.spacer {
  flex: 1 1 auto;
}

td.th {
  background: #f9fafb;
  color: rgba(0,0,0,.7);
  font-weight: 700;
}
