/* You can add global styles to this file, and also import other style files */

@import "./styles/material-icons/material-icons.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/*@import "~fomantic-ui-css/semantic.min.css";*/
@import "~fomantic-ui-css/components/reset.min.css";
@import "./styles/site.css";
/*@import "~fomantic-ui-css/components/site.min.css";*/
@import "~fomantic-ui-css/components/container.min.css";
@import "~fomantic-ui-css/components/table.min.css";
@import "~fomantic-ui-css/components/list.min.css";
@import "~fomantic-ui-css/components/menu.min.css";
@import "~fomantic-ui-css/components/dropdown.min.css";
/*@import "~fomantic-ui-css/components/text.min.css";*/
@import "~fomantic-ui-css/components/statistic.min.css";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@media print {
  .not-print, .not-print * {
    display: none;
  }
}

.main-content {
  display: block;
  margin-top: 2em;
  margin-bottom: 1em;
}

.schedule-tables {
  margin-top: 2em;
}

.schedule-table-title {
  margin-top: 2em;
  margin-bottom: 2em;
  text-align: center;
}

tr.mat-header-row {
  height: 48px !important;
}

tr.mat-row, tr.mat-footer-row {
  height: 40px !important;
}

td.has-lessons {
  background-color: rgba(0, 0, 50, .02);
}

td .course-name {
  /*color: #21BA45;*/
  color: #2185D0;
}

td .class-name {
  /*color: #00B5AD;*/
}

td .classroom-name {
  /*color: #767676;*/
}

td .teacher-name {
  /*color: #2185D0;*/
}

div.training-class, td.training-class {
  /*border-right: rgba(33, 133, 208, .5) 2px solid;*/
  border-left: rgba(33, 186, 69, .5) 2px solid;
}

div.training-class {
  padding-left: 4px !important;
}

.multi-lines-tooltip {
  white-space: pre-line;
}


.spacer {
  flex: 1 1 auto;
}

td.th {
  /*background: #f9fafb;*/
  background: rgba(0, 0, 0, .03);
  color: rgba(0, 0, 0, .8);
  font-weight: 700;
}

.primary-color {
  color: #3f51b5;
}

.accent-color {
  color: #ff4081;
}

.warn-color {
  color: #f44336;
}

.secondary-color {
  color: rgba(0, 0, 0, .58)
}

.disabled-color {
  color: rgba(0, 0, 0, .38)
}

.active-link {
  color: #ff4081 !important;
}

/*.mat-form-field:not(:first-child) {
  margin-left: 1em;
}*/

.mat-form-field:not(:last-child) {
  margin-right: 1em;
}

.mat-icon-button.time-scroll {
  width: 32px;
  height: 32px;
  line-height: 32px;
}

.mat-icon-button.time-scroll .mat-icon {
  height: 24px;
  width: 24px;
  font-size: 16px;
}

.dropdown-menu-selected-label {
  margin-left: 1em;
  word-break: keep-all;
}

.perspective-menu .dropdown-menu-selected-label, .time-scope-menu .dropdown-menu-selected-label {
  margin-right: 1.5em;
}

.ui.table td.mat-cell, .ui.table td.mat-footer-cell {
  border-bottom-style: none;
}

.ui.table .mat-header-cell {
  font-size: 1em;
}

.ui.table thead, .ui.table tbody, .ui.table tfoot, .ui.table mat-header-row,
.ui.table mat-row, .ui.table mat-footer-row, .ui.table [mat-header-row],
.ui.table [mat-row], .ui.table [mat-footer-row], .ui.table .mat-table-sticky {
  background: none;
}

.mat-table.ui.table > thead > tr > th {
  color: rgba(0, 0, 0, .7);
}

.mat-paginator-container {
  min-height: 48px;
}

.tables-bottom {
  height: 2em;
}


.dimensions-select, .dimensions-divider {
  margin-bottom: .5em;
}

.dimensions-select > * {
  margin-right: 1em;
}

.dimensions-select .title {
  font-weight: bold;
}

.dimension-label {
  margin-right: 1em;
}

.dimension-conditions {
  margin-top: 1em;
}

.dimension-condition {
  margin-right: 1em;
}

.dimension-condition.training-type {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
