<div *ngIf="termSchedule">
  <div *ngIf="showTitle&&termSchedule.title" class="schedule-table-title">
    <h2 class="ui center aligned header">{{termSchedule.title}}</h2>
  </div>
  <table class="ui center aligned celled unstackable table" *ngIf="termSchedule.weekSchedules[0]">
    <thead>
    <tr>
      <th>&nbsp;</th>
      <th *ngFor="let daySchedule of termSchedule.weekSchedules[0].daySchedules">
        <div class="week-day">{{daySchedule.dateDim | weekdayLabel}}</div>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let ws of termSchedule.weekSchedules">
      <td class="th">
        <div>第{{ws.week.weekno}}周</div>
        <div>（{{ws.week.firstDay | dateMd}} ~ {{ws.week.lastDay | dateMd}}）</div>
      </td>
      <td *ngFor="let daySchedule of ws.daySchedules" [class.has-lessons]="daySchedule.lessonSpansCount>0"
          class="top aligned">
        <app-day-lessons [daySchedule]="daySchedule"></app-day-lessons><!-- fxLayoutAlign="center"-->
      </td>
    </tr>
    </tbody>
  </table>
</div>
